body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #319c31, #3498db);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    min-height: 200px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    transition: all 0.3s ease;
}
input[type="text"] {
    width: 55%; /* Adjust this value as needed */
    /*min-width: 300px; /* Minimum width */
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo_ai {
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 60px;
    width: 5vw;
    max-width: 100px;
    z-index: 1000;
}

.logo_elca {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 60px;
    width: 5vw;
    max-width: 80px;
    z-index: 1000;
}

.logo_team4 {
    min-width: 70px;
    width: 10vb;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
    color: #34495e ;
}

h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #3498db;
}

p {
    font-size: 1rem;
    color: #34495e ;
}

a {
    color: #3498db ;
}

.result {
    font-size: 1.2rem;
    color: #3498db;
}

button {
    margin-top: 1.8rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.submit_button {
    margin-top: 0.1rem;
    padding: 0.3rem 0.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit_button:hover {
    background-color: #2980b9;
}

footer {
    position: absolute;
    bottom: 0vh;
    text-align: center;
    background-color: #000057;
    width: 100%;
}

.footerp {
    font-size: 0.7rem;
    color: #FFFFFF;
}