<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CircularMatch</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/img/team4_logo.png">
</head>
<body>
    <img src="../static/img/ai_for_impact.png" class="logo_ai">
    <img src="../static/img/elca_logo.png" class="logo_elca">
    <div class="container">
        <img src="../static/img/team4_logo.png" class="logo_team4">
        <h1>Welcome to CircularMatch</h1>
        <h2>Intelligent Data Linking for Sustainable Construction</h2>
        <p>The construction industry is a key player in the transition toward a circular economy. CircularMatch empowers this transformation by intelligently connecting material data from Ökobaudat with circularity insights from the T-Baustoff database.<br><br>
            Using state-of-the-art Natural Language Processing (NLP), our tool automates the semantic mapping of building materials, closing data gaps and eliminating the need for manual classification. This enables more accurate, scalable, and user-friendly circularity assessments within the <a href="https://www.bauteileditor.de/">eLCA tool</a>.<br><br>
            Explore how smart data integration can unlock better decisions for sustainable building.</p>
        <button onclick="window.location.href='input.html'">Find your matching UUID</button>
    </div>
    <footer>
        <p class="footerp">This is a prototype developed by: Timothee, Gustav, Anindita, Minh, Ewa, Valentin</p>
    </footer>
</body>
</html>