<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UUID search</title>
</head>
<body>
<form method="post">
    <label>UUID:</label>
    <br>
    <input type="text" name="uuid_input" value="{{ uuid_input }}"/>
    <input type="submit" value="Submit">
</form>
<p>Result: {{ result }}</p>
<p style="color:#FF0000">REMOVE BEFORE DEPLOYMENT<br>
Examples for development: <br>
7e88f530-2367-463a-a7fd-b87c19b0884e - representative dataset <br>
    1d0124d4-5a30-4501-a8dd-dbddbb1f8ec7 - generic dataset<br>
    fa5119d5-b0b8-4774-9c23-928f6894bd50 - dataset in OBD_2023 but not in OBD_2024<br>

</p>
</body>
</html>